@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Ovo&family=Poppins&display=swap');
*{
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}
.main-section{
    display: flex;
    align-items: center;
    background-color: #cadec9;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
    gap: 40px;
    height: 400px;
    
}
.content h1{
    padding-top: 20px;
    max-width: 450px;
    padding-right: 20px;
    font-size: 45px;

}
.description{
    font-size: 18px;
    color: #2d2c2c;
    padding-top: 20px;
    max-width: 500px;
    padding-bottom: 30px;
}
.image{
    display: flex;
    justify-content: flex-end;
}

button{
    background-color: #42813f;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background-color: #1f5c1bcc;
    box-shadow: 5px 5px 5px 5px rgba(168, 224, 91, 0.696);
    transition: all 0.3s ease;

}